@{
    ViewData["Title"] = "Home Page";
}

<!-- Top full-width image -->
<img src="~/images/styling_2.jpg" class="full-width-img" alt="Top Banner" />

<div class="container mt-4">
    <!-- Main Menu -->
    <h2 class="text-center mb-3">Main Menu</h2>

    <div class="menu-container">
        <a asp-controller="MainMenu" asp-action="ReportIssue" class="btn btn-primary">Report Issue</a>
        <a asp-controller="MainMenu" asp-action="LocalEvents" class="btn btn-primary">Local Events</a>
        <a asp-controller="MainMenu" asp-action="ServiceRequest" class="btn btn-primary">Service Request</a>
    </div>
</div>

<!-- Bottom full-width image -->
<img src="~/images/styling_3.jpg" class="full-width-img mt-3" alt="Bottom Banner" />

<!-- Referencing -->
<!--Microsoft Learn, 2025. LinkedList<T> Class [Online]. Available at:<https://learn.microsoft.com/en-us/dotnet/api/system.collections.generic.linkedlist-1?view=net-9.0> [Acessed on 01 September 2025]-->
<!--wheretostay,2020. Durban Beachfront Accommodation[Electronic Print]. Available at:<https://www.wheretostay.co.za/town/durban-beachfront-cbd/accommodation> [Acessed on 05 September 2025]-->
<!--IStock,2019. Durban Beachfront [Electronic Print]. Available at:<https://www.istockphoto.com/search/2/image-film?phrase=durban+beach> [Acessed on 05 September 2025]-->
<!--Facebook, 2012. EThekwini Municipality [Electronic Print]. Available at:<https://www.facebook.com/eThekwiniM/> [Acessed on 05 September 2025]-->